@mixin adaptive-zoom {
  zoom: 1.6;

  @media (max-width: 1150px) {
    zoom: 1.4;
  }

  @media (max-width: 959px) {
    zoom: 1.2;
  }

  @media (max-width: 639px) {
    zoom: 1.6;
  }

  @media (max-width: 500px) {
    zoom: 1.4;
  }
}

@mixin zoom {
  zoom: 1.6;

  @media (max-width: 1429px) {
    zoom: 1.3;
  }

  @media (max-width: 1150px) {
    zoom: 1.2;
  }

  @media (max-width: 959px) {
    zoom: 1;
  }

  @media (max-width: 639px) {
    zoom: 1;
  }
}
